body{
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('/img/mcsky_highres.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
html, body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


.home-logo {
    position: fixed;      /* bleibt immer oben links sichtbar */
    top: 20px;
    left: 20px;
    z-index: 1000;        /* liegt über anderen Elementen */
}

.home-logo img {
    width: 48px;          /* Größe des PNGs */
    height: auto;        /* Seitenverhältnis bleibt korrekt */
    cursor: pointer;

    /* sanfte Animation */
    transition: transform 0.25s ease, filter 0.25s ease;
}

.home-logo img:hover {
    transform: scale(1.08);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
}

h1{
    font-size: 5rem;
}

.top-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.menu-button {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    border: none;
    background: rgba(20,20,30,0.9);
    color: white;
    font-size: 22px;
    cursor: pointer;

    box-shadow: 0 0 0 rgba(10,132,255,0);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.menu-button:hover {
    box-shadow: 0 0 15px rgba(10,132,255,0.6);
    transform: scale(1.05);
}

.dropdown {
    position: absolute;
    top: 60px;
    right: 0;

    min-width: 180px;
    background: rgba(20,20,30,0.95);
    border-radius: 14px;
    padding: 10px;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: opacity 0.25s ease, transform 0.25s ease;
    box-shadow: 0 0 40px rgba(0,0,0,0.6);
}

.top-menu:hover .dropdown {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown a {
    display: block;
    padding: 10px 14px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14px;
    transition: background 0.2s ease;
}

.dropdown a:hover {
    background: rgba(10,132,255,0.2);
}

.dropdown::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    height: 15px;
}


@keyframes fadeUp {
    from { opacity: 0; transform: translateY(40px); }
    to { opacity: 1; transform: translateY(0); }
}
