
body{
    margin: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to bottom right, #4004a1, #0462a1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

h1{
    font-size: 5rem;
}

.button{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #1eb6e4;
    background: #4004a1;
    border-radius: 30px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    top: 5%;
    right: 5%;
    box-shadow: 0 0 #044d74;

    transition: box-shadow 0.35s ease, transform 0.25s ease;
}

.button:hover{
    box-shadow: 0 0 15px rgba(10, 132, 255, 0.8),
                0 0 40px rgba(10, 132, 255, 0.4);
                
    transform: translateY(-2px);
    
}




