body{
    margin: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('/img/mcsky_highres.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}


h1{
    font-size: 5rem;
    color: #7289da;
}


.subtitle{
    border: 2px solid #1ea9b0;
    border-radius: 25px;
    background: rgba(114, 137, 218, 0.7);
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    opacity: 0;
    animation: fadeUp 0.8s ease forwards;
    transition: 0.3s;
}

h2{
    padding: 15px 10px 19px 20px; 
    text-align: center;
}




