body{
    margin: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('/img/mcsky_highres.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}


h1{
    font-size: 5rem;
    color: #7289da;
}


.subtitle{
    border: 2px solid #1ea9b0;
    border-radius: 25px;
    background: rgba(222, 233, 255, 0.6);
}



