body{
    margin: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to bottom right, #4004a1, #0462a1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.home-logo {
    position: fixed;      /* bleibt immer oben links sichtbar */
    top: 20px;
    left: 20px;
    z-index: 1000;        /* liegt über anderen Elementen */
}

.home-logo img {
    width: 48px;          /* Größe des PNGs */
    height: auto;        /* Seitenverhältnis bleibt korrekt */
    cursor: pointer;

    /* sanfte Animation */
    transition: transform 0.25s ease, filter 0.25s ease;
}

.home-logo img:hover {
    transform: scale(1.08);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
}

h1{
    font-size: 5rem;
}