body {
    background-image: url('/img/mcsky_highres.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-size: 5rem;
}


.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* Mobile Feinjustierung */
@media (max-width: 600px) {
    h2 {
        font-size: 26px;
    }
}

