body {
    background-image: url('/img/mcsky_highres.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-size: 5rem;
}



#status-dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 10px;
    background: gray;
}

.mc_status {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 60px;
}

.info {
    background: rgba(20, 20, 30, 0.8);
    border-radius: 16px;
    padding: 25px 20px;
    width: 220px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    transform: translateY(40px);
    opacity: 0;
    animation: fadeUp 0.8s ease forwards;
    transition: 0.3s;
}

.info:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 35px currentColor;
}



.mc_info {
    margin-top: 10px;
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 20px;
    display: inline-block;
    font-weight: bold;
}

.owner   { color: #aa0000; }
.admin   { color: #ff4d4d; }
.dev     { color: #00e1ff; }
.mod     { color: #8aff6a; }
.status { color: #b98cff; }
.tw_mod  { color: #6441a5; }
.dc_mod  { color: #7289da; }
.placholder   { color: #ffb000; }

