h1{
    font-size: 5rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(57, 63, 83);
  color: white;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}