body{
    margin: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('/img/mcsky_highres.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}


h1{
    font-size: 5rem;
    color: #7289da;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 60px;
}

.card{
    background: rgba(20, 20, 30, 0.8);
    border-radius: 16px;
    padding: 25px 20px;
    width: 220px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    transform: translateY(40px);
    opacity: 0;
    animation: fadeUp 0.8s ease forwards;
    transition: 0.3s;
    color: #ffb000;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 35px currentColor;
}

.card h3{
    font-size: 1.5rem;
    text-decoration: underline;
}


@media screen and (max-width: 1000px) {
  .title { margin: 20px; 
    text-align: center;
}

}



